{% extends "base.html" %}

{% block title %}
{% endblock title %}

{% block q %}
{% endblock q %}

{% block content %}
<div class="hero-unit">
    <h1>BeerSearch<a class="external" href="http://beeradvocate.com/" title="BeerAdvocate">Advocate</a></h1>
    <p class="text-info">For best results, search for flavors, smells, mouthfeels, or appearance. (You could try sounds, but no guarantees.)</p>
    <form class="form-search" action="/search" method="get">
        <input type="search" class="input-xxlarge search-query" name="q" placeholder="find your beer">
        <button type="submit" class="btn">Search</button>
    </form>
    {% if error %}
    <p class="text-error text-center">Sorry, friend. That page does not exist. This one does, though.</p>
    {% endif %}
    <p class="text-info">Interested in checking out the code behind this site? Find it on <a class="external" href="https://github.com/derekpeterson/search-beer-advocate" title="This site's GitHub repository">GitHub</a>.</p>
</div>
{% endblock content %}
