{% extends "base.html" %}

{% block title %}
{{ query + ' - ' }}
{% endblock title %}

{% block q %}
{{ query }}
{% endblock q %}

{% block content %}
<a class="pull-right external" href="http://beeradvocate.com/search?qt=beer&q={{ query }}">compare these results to BeerAdvocate's</a>
<h1>Search Results</h1>
<ul class="results unstyled">
    {% if count %}
    {% for item in results %}
    <li>
        <h2><a class="external" href="{{ item.get('url') }}" title="{{ item.get('name') }}">{{ item.get('name') }}</a></h2>
        <h3>Score: {{ item.get('score') }}</h3>
        <p>{{ item.get('reviews')[:500] + ' ...' }}</p>
        <a href="/feedback?id={{ item.get('id') }}" class="pull-right">more like this</a>
    </li>
    {% endfor %}
    {% else %}
    <li class="text-info">Sorry! We did not find any results for the query "{{ query }}".</li>
    {% endif %}
</ul>
{% endblock content %}
